USE [master]
GO
/****** Object:  Database [AcreditacionDB]    Script Date: 20/10/2025 15:57:24 ******/
CREATE DATABASE [AcreditacionDB]
GO

USE [AcreditacionDB]
GO
/****** Object:  Table [dbo].[Accidentes]    Script Date: 20/10/2025 15:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accidentes](
	[Id] [uniqueidentifier] NOT NULL,
	[IdAsegurado] [uniqueidentifier] NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[CodIpress] [nvarchar](100) NULL,
	[IdEstado] [uniqueidentifier] NULL,
	[IdPrestadorSalud] [uniqueidentifier] NULL,
	[IdAccidenteTipo] [uniqueidentifier] NULL,
	[FechaAccidente] [datetime] NULL,
	[IdUsuarioRegistro] [uniqueidentifier] NULL,
	[IdUsuarioActualiza] [uniqueidentifier] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accidentes] ([Id], [IdAsegurado], [Descripcion], [CodIpress], [IdEstado], [IdPrestadorSalud], [IdAccidenteTipo], [FechaAccidente], [IdUsuarioRegistro], [IdUsuarioActualiza], [FechaCreacion], [FechaActualizacion]) VALUES (N'ecdd330f-671b-4c9a-805c-0fbdeae5f991', N'e7795aca-40a7-4f75-a46e-66db94a618d4', N'no paso nada', N'string', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Accidentes] ([Id], [IdAsegurado], [Descripcion], [CodIpress], [IdEstado], [IdPrestadorSalud], [IdAccidenteTipo], [FechaAccidente], [IdUsuarioRegistro], [IdUsuarioActualiza], [FechaCreacion], [FechaActualizacion]) VALUES (N'00c4daf2-3e8a-40ac-b93f-29a2762254c0', N'3fa85f64-5717-4562-b3fc-2c963f66afa6', N'camila', N'ov7', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Accidentes] ([Id], [IdAsegurado], [Descripcion], [CodIpress], [IdEstado], [IdPrestadorSalud], [IdAccidenteTipo], [FechaAccidente], [IdUsuarioRegistro], [IdUsuarioActualiza], [FechaCreacion], [FechaActualizacion]) VALUES (N'9f0ab110-18d6-44b5-94f9-461fa05c235d', N'3d8c5b9e-fee3-435e-9640-40f42f9b5c63', N'Grave', N'10025', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
USE [master]
GO
