USE [master]
GO
/****** Object:  Database [AuthenticationDB]    Script Date: 20/10/2025 15:55:47 ******/
CREATE DATABASE [AuthenticationDB]
GO

USE [AuthenticationDB]
GO
/****** Object:  Table [dbo].[Asegurados]    Script Date: 20/10/2025 15:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asegurados](
	[Id] [uniqueidentifier] NOT NULL,
	[codigoParentesco] [nvarchar](200) NULL,
	[numeroContrato] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 20/10/2025 15:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 20/10/2025 15:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/10/2025 15:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 20/10/2025 15:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleId] [int] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/10/2025 15:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](200) NULL,
	[Apellido] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[PasswordHash] [nvarchar](200) NULL,
 CONSTRAINT [PK_Users2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Asegurados] ([Id], [codigoParentesco], [numeroContrato]) VALUES (N'84b5a1cd-57be-4546-9f06-0ac6605f1178', N'nieta', N'susana')
INSERT [dbo].[Asegurados] ([Id], [codigoParentesco], [numeroContrato]) VALUES (N'a6a03314-3484-49b9-acf3-134015a05856', N'papa', N'025632')
INSERT [dbo].[Asegurados] ([Id], [codigoParentesco], [numeroContrato]) VALUES (N'ceea3d54-53a5-405a-90fb-20ace8b71816', N'luis', N'bulnes')
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [Nombre]) VALUES (1, N'ReadUser')
INSERT [dbo].[Permissions] ([Id], [Nombre]) VALUES (2, N'WriteUser')
INSERT [dbo].[Permissions] ([Id], [Nombre]) VALUES (3, N'UpdateUser')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 1)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 2)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Cliente')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserRoles] ([RoleId], [UserId]) VALUES (1, N'07105bce-5144-418b-85ff-4343652d964e')
INSERT [dbo].[UserRoles] ([RoleId], [UserId]) VALUES (1, N'4897e05f-17a3-45e3-bca6-e34cfc4f5099')
GO
INSERT [dbo].[Users] ([Id], [Nombre], [Apellido], [Email], [PasswordHash]) VALUES (N'07105bce-5144-418b-85ff-4343652d964e', N'Martin', N'Trujillo', N'martin.trujillo@uni.pe', NULL)
INSERT [dbo].[Users] ([Id], [Nombre], [Apellido], [Email], [PasswordHash]) VALUES (N'319d7a56-794a-4c18-8496-601365f485dd', N'Martin', N'Trujillo', N'martin@ccjuantrujillo.org', N'$2a$11$3tjpUpoiBjFGFJr4MVQOy.OqHVFRo57QkyJiF2uVUM1DL50mGKiO6')
INSERT [dbo].[Users] ([Id], [Nombre], [Apellido], [Email], [PasswordHash]) VALUES (N'a5a61de2-8b11-43fc-b165-718a4b10c4eb', N'Anglea', N'string', N'angela@gmail.com', N'$2a$11$ly/v6fKl4HrZ8K8rcXthceLv2QhfDfzlIOe3HPoC7jJzaljhrZnTO')
GO
USE [master]
GO
