USE [master]
GO
/****** Object:  Database [BD_LIQUIDACIONES]    Script Date: 20/10/2025 16:32:27 ******/
CREATE DATABASE [LiquidacionesDB]
GO

USE [LiquidacionesDB]
GO
/****** Object:  User [user_tedef]    Script Date: 20/10/2025 16:32:28 ******/
CREATE USER [user_tedef] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user_tedef]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user_tedef]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user_tedef]
GO
/****** Object:  Table [dbo].[cat_coberturas_liqui_tipo]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_coberturas_liqui_tipo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [char](1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[otros] [char](2) NOT NULL,
	[grupo_cobertura_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_indicador_factura]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_indicador_factura](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_productos_exentos_igv]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_productos_exentos_igv](
	[id] [char](1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[estado] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_tipo_carga]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_tipo_carga](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [char](1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_lote]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_lote](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tabla] [varchar](255) NOT NULL,
	[uuid] [char](36) NOT NULL,
	[nombre_archivo] [varchar](255) NOT NULL,
	[errores] [int] NOT NULL,
	[detalle_errores] [text] NOT NULL,
	[registros] [text] NOT NULL,
	[lote_id] [bigint] NOT NULL,
	[trama] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empaquetados]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empaquetados](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[numero_paquete] [varchar](255) NULL,
	[tipo_empaquetado] [varchar](255) NULL,
	[iafa_nro_envio_id] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[estados_internos] [varchar](255) NULL,
	[estados_externos] [varchar](255) NULL,
	[estados_ipress] [varchar](255) NULL,
	[grupo] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nro_factura] [nvarchar](255) NOT NULL,
	[monto] [decimal](11, 2) NULL,
	[lote_id] [bigint] NULL,
	[tipo_prestacion_id] [bigint] NULL,
	[fecha_recepcion] [datetime] NULL,
	[identificador_factura_id] [bigint] NULL,
	[estado_id] [bigint] NULL,
	[cantidad_exp] [int] NOT NULL,
	[fecha_emision] [date] NULL,
	[fecha_envio] [date] NULL,
	[fecha_envio_iafa] [date] NULL,
	[fecha_devolucion] [datetime] NULL,
	[detraccion] [decimal](11, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formato_trama]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formato_trama](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[formato] [varchar](255) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [char](1) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupo_coberturas]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupo_coberturas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iafa_nro_envio]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iafa_nro_envio](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[iafa_id] [varchar](255) NOT NULL,
	[correlativo] [varchar](255) NOT NULL,
	[sede] [varchar](255) NULL,
	[serie] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[liqtempo]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[liqtempo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[estado_id] [bigint] NOT NULL,
	[codigo_afiliado] [varchar](255) NULL,
	[cobertura_id] [bigint] NULL,
	[tipo_prestacion_id] [bigint] NULL,
	[tipo_impuesto_id] [char](1) NULL,
	[cie10_id] [varchar](255) NULL,
	[credito] [varchar](255) NULL,
	[factura_id] [bigint] NULL,
	[deducible] [decimal](10, 2) NOT NULL,
	[coaseguro] [decimal](10, 2) NOT NULL,
	[modo_pago] [varchar](255) NULL,
	[empaquetado_id] [bigint] NULL,
	[codigo_boleta] [varchar](255) NULL,
	[monto_boleta] [decimal](11, 2) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[liqtempo_predetalle]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[liqtempo_predetalle](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[liqtempo_id] [bigint] NULL,
	[gastos_honorarios] [decimal](10, 2) NOT NULL,
	[gastos_de_cuarto] [decimal](10, 2) NOT NULL,
	[gastos_complementarios] [decimal](10, 2) NOT NULL,
	[gastos_de_radiografia] [decimal](10, 2) NOT NULL,
	[gastos_laboratorio] [decimal](10, 2) NOT NULL,
	[gastos_tratamientos] [decimal](10, 2) NOT NULL,
	[gastos_de_examenes] [decimal](10, 2) NOT NULL,
	[gastos_otros] [decimal](10, 2) NOT NULL,
	[gastos_de_farmacia] [decimal](10, 2) NOT NULL,
	[gastos_de_cirujano] [decimal](10, 2) NOT NULL,
	[gastos_de_anestesista] [decimal](10, 2) NOT NULL,
	[gastos_de_sepelio] [decimal](10, 2) NOT NULL,
	[gastos_presentado] [decimal](10, 2) NOT NULL,
	[gastos_excluidos] [decimal](10, 2) NOT NULL,
	[gastos_asistente] [decimal](10, 2) NOT NULL,
	[gastos_transporte] [decimal](10, 2) NOT NULL,
	[fecha_hospt_inicio] [date] NULL,
	[fecha_hospt_fin] [date] NULL,
	[principal] [bit] NOT NULL,
	[liqtempo_predetalle_id] [bigint] NULL,
	[excluido] [bit] NOT NULL,
	[dias_hospitalizacion] [int] NULL,
	[cantidad_consulta] [int] NULL,
	[gasto_presentado] [decimal](11, 2) NOT NULL,
	[igv_gasto_presentado] [decimal](11, 2) NOT NULL,
	[pago_cuenta] [decimal](11, 2) NOT NULL,
	[gastos_cubiertos] [decimal](11, 2) NOT NULL,
	[deducible] [decimal](11, 2) NOT NULL,
	[coaseguro] [decimal](11, 2) NOT NULL,
	[deducible_calculado] [decimal](11, 2) NOT NULL,
	[coaseguro_calculado] [decimal](11, 2) NOT NULL,
	[total_beneficio] [decimal](11, 2) NOT NULL,
	[pagar_clinica] [decimal](11, 2) NOT NULL,
	[pagar_clinica_igv] [decimal](10, 2) NOT NULL,
	[total_pagar_clinica] [decimal](10, 2) NOT NULL,
	[cobrar_titular] [decimal](11, 2) NOT NULL,
	[cobrar_titular_igv] [decimal](10, 2) NOT NULL,
	[total_cobrar_titular] [decimal](10, 2) NOT NULL,
	[usuario_id] [bigint] NULL,
	[nombre_usuario] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lotes]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lotes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [char](36) NULL,
	[nombre_archivo] [varchar](255) NULL,
	[path_file] [varchar](255) NULL,
	[formato_trama_id] [bigint] NULL,
	[version_id] [bigint] NULL,
	[clinica_id] [bigint] NULL,
	[cliente_id] [bigint] NULL,
	[tipo_carga_id] [bigint] NULL,
	[estado_id] [bigint] NULL,
	[nro_lote] [varchar](255) NULL,
	[clave] [varchar](255) NULL,
	[periodo_lote] [varchar](255) NULL,
	[fecha_envio] [date] NULL,
	[fecha_validacion] [date] NULL,
	[fecha_reporte] [date] NULL,
	[fecha_atencion_extemporaneo] [varchar](255) NULL,
	[fecha_cierre] [datetime] NULL,
	[documentos_cargados] [bit] NOT NULL,
	[estado_email] [bit] NOT NULL,
	[en_proceso] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paquetes]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paquetes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[empaquetado_id] [bigint] NULL,
	[estado_id] [bigint] NULL,
	[clinica_id] [varchar](255) NULL,
	[cliente_id] [varchar](255) NULL,
	[lote_susalud_id] [bigint] NULL,
	[version_id] [varchar](255) NULL,
	[total_facturas] [int] NOT NULL,
	[fecha_envio_susalud] [date] NULL,
	[fecha_envio_iafas] [date] NULL,
	[archivo_generado] [bit] NOT NULL,
	[en_proceso] [bit] NOT NULL,
	[path_file] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[susalud_lotes]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[susalud_lotes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nro_lote] [varchar](255) NULL,
	[fecha] [date] NULL,
	[estado] [bit] NOT NULL,
	[cliente_id] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[versiones_tedef]    Script Date: 20/10/2025 16:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[versiones_tedef](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](255) NOT NULL,
	[longitud] [char](2) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_iafa_nro_envio_correlativo]    Script Date: 20/10/2025 16:32:29 ******/
ALTER TABLE [dbo].[iafa_nro_envio] ADD  CONSTRAINT [UQ_iafa_nro_envio_correlativo] UNIQUE NONCLUSTERED 
(
	[correlativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [lotes_estado_id_index]    Script Date: 20/10/2025 16:32:29 ******/
CREATE NONCLUSTERED INDEX [lotes_estado_id_index] ON [dbo].[lotes]
(
	[estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [lotes_formato_trama_id_index]    Script Date: 20/10/2025 16:32:29 ******/
CREATE NONCLUSTERED INDEX [lotes_formato_trama_id_index] ON [dbo].[lotes]
(
	[formato_trama_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [lotes_tipo_carga_id_index]    Script Date: 20/10/2025 16:32:29 ******/
CREATE NONCLUSTERED INDEX [lotes_tipo_carga_id_index] ON [dbo].[lotes]
(
	[tipo_carga_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [lotes_version_id_index]    Script Date: 20/10/2025 16:32:29 ******/
CREATE NONCLUSTERED INDEX [lotes_version_id_index] ON [dbo].[lotes]
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_susalud_lotes_nro_lote]    Script Date: 20/10/2025 16:32:29 ******/
ALTER TABLE [dbo].[susalud_lotes] ADD  CONSTRAINT [UQ_susalud_lotes_nro_lote] UNIQUE NONCLUSTERED 
(
	[nro_lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cat_tipo_carga] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[factura] ADD  DEFAULT ((0.00)) FOR [monto]
GO
ALTER TABLE [dbo].[factura] ADD  DEFAULT ((1)) FOR [cantidad_exp]
GO
ALTER TABLE [dbo].[factura] ADD  DEFAULT ((0.00)) FOR [detraccion]
GO
ALTER TABLE [dbo].[formato_trama] ADD  DEFAULT ('1') FOR [estado]
GO
ALTER TABLE [dbo].[liqtempo] ADD  DEFAULT ((0.00)) FOR [deducible]
GO
ALTER TABLE [dbo].[liqtempo] ADD  DEFAULT ((0.00)) FOR [coaseguro]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_honorarios]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_de_cuarto]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_complementarios]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_de_radiografia]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_laboratorio]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_tratamientos]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_de_examenes]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_otros]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_de_farmacia]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_de_cirujano]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_de_anestesista]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_de_sepelio]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_presentado]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_excluidos]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_asistente]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_transporte]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0)) FOR [principal]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0)) FOR [excluido]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gasto_presentado]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [igv_gasto_presentado]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [pago_cuenta]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [gastos_cubiertos]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [deducible]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [coaseguro]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [deducible_calculado]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [coaseguro_calculado]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [total_beneficio]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [pagar_clinica]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [pagar_clinica_igv]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [total_pagar_clinica]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [cobrar_titular]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [cobrar_titular_igv]
GO
ALTER TABLE [dbo].[liqtempo_predetalle] ADD  DEFAULT ((0.00)) FOR [total_cobrar_titular]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT ((0)) FOR [documentos_cargados]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT ((0)) FOR [estado_email]
GO
ALTER TABLE [dbo].[lotes] ADD  DEFAULT ((0)) FOR [en_proceso]
GO
ALTER TABLE [dbo].[paquetes] ADD  DEFAULT ((0)) FOR [total_facturas]
GO
ALTER TABLE [dbo].[paquetes] ADD  DEFAULT ((0)) FOR [archivo_generado]
GO
ALTER TABLE [dbo].[paquetes] ADD  DEFAULT ((0)) FOR [en_proceso]
GO
ALTER TABLE [dbo].[susalud_lotes] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[cat_coberturas_liqui_tipo]  WITH CHECK ADD  CONSTRAINT [FK_cat_coberturas_liqui_tipo_grupo_cobertura] FOREIGN KEY([grupo_cobertura_id])
REFERENCES [dbo].[grupo_coberturas] ([id])
GO
ALTER TABLE [dbo].[cat_coberturas_liqui_tipo] CHECK CONSTRAINT [FK_cat_coberturas_liqui_tipo_grupo_cobertura]
GO
ALTER TABLE [dbo].[empaquetados]  WITH CHECK ADD  CONSTRAINT [FK_empaquetados_iafa_nro_envio] FOREIGN KEY([iafa_nro_envio_id])
REFERENCES [dbo].[iafa_nro_envio] ([id])
GO
ALTER TABLE [dbo].[empaquetados] CHECK CONSTRAINT [FK_empaquetados_iafa_nro_envio]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [fk_factura_estado_id] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [fk_factura_estado_id]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [fk_factura_identificador_factura] FOREIGN KEY([identificador_factura_id])
REFERENCES [dbo].[cat_indicador_factura] ([id])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [fk_factura_identificador_factura]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [fk_factura_lote] FOREIGN KEY([lote_id])
REFERENCES [dbo].[lotes] ([id])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [fk_factura_lote]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [fk_factura_tipo_prestacion] FOREIGN KEY([tipo_prestacion_id])
REFERENCES [dbo].[cat_coberturas_liqui_tipo] ([id])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [fk_factura_tipo_prestacion]
GO
ALTER TABLE [dbo].[liqtempo]  WITH CHECK ADD  CONSTRAINT [FK_liqtempo_empaquetado] FOREIGN KEY([empaquetado_id])
REFERENCES [dbo].[empaquetados] ([id])
GO
ALTER TABLE [dbo].[liqtempo] CHECK CONSTRAINT [FK_liqtempo_empaquetado]
GO
ALTER TABLE [dbo].[liqtempo]  WITH CHECK ADD  CONSTRAINT [FK_liqtempo_estado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[liqtempo] CHECK CONSTRAINT [FK_liqtempo_estado]
GO
ALTER TABLE [dbo].[liqtempo]  WITH CHECK ADD  CONSTRAINT [FK_liqtempo_factura] FOREIGN KEY([factura_id])
REFERENCES [dbo].[factura] ([id])
GO
ALTER TABLE [dbo].[liqtempo] CHECK CONSTRAINT [FK_liqtempo_factura]
GO
ALTER TABLE [dbo].[liqtempo]  WITH CHECK ADD  CONSTRAINT [FK_liqtempo_tipo_impuesto] FOREIGN KEY([tipo_impuesto_id])
REFERENCES [dbo].[cat_productos_exentos_igv] ([id])
GO
ALTER TABLE [dbo].[liqtempo] CHECK CONSTRAINT [FK_liqtempo_tipo_impuesto]
GO
ALTER TABLE [dbo].[liqtempo]  WITH CHECK ADD  CONSTRAINT [FK_liqtempo_tipo_prestacion] FOREIGN KEY([tipo_prestacion_id])
REFERENCES [dbo].[cat_coberturas_liqui_tipo] ([id])
GO
ALTER TABLE [dbo].[liqtempo] CHECK CONSTRAINT [FK_liqtempo_tipo_prestacion]
GO
ALTER TABLE [dbo].[liqtempo_predetalle]  WITH CHECK ADD  CONSTRAINT [FK_liqtempo_predetalle_liqtempo] FOREIGN KEY([liqtempo_id])
REFERENCES [dbo].[liqtempo] ([id])
GO
ALTER TABLE [dbo].[liqtempo_predetalle] CHECK CONSTRAINT [FK_liqtempo_predetalle_liqtempo]
GO
ALTER TABLE [dbo].[lotes]  WITH CHECK ADD  CONSTRAINT [FK_lotes_estado_id] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[lotes] CHECK CONSTRAINT [FK_lotes_estado_id]
GO
ALTER TABLE [dbo].[lotes]  WITH CHECK ADD  CONSTRAINT [FK_lotes_formato_trama_id] FOREIGN KEY([formato_trama_id])
REFERENCES [dbo].[formato_trama] ([id])
GO
ALTER TABLE [dbo].[lotes] CHECK CONSTRAINT [FK_lotes_formato_trama_id]
GO
ALTER TABLE [dbo].[lotes]  WITH CHECK ADD  CONSTRAINT [FK_lotes_tipo_carga_id] FOREIGN KEY([tipo_carga_id])
REFERENCES [dbo].[cat_tipo_carga] ([id])
GO
ALTER TABLE [dbo].[lotes] CHECK CONSTRAINT [FK_lotes_tipo_carga_id]
GO
ALTER TABLE [dbo].[lotes]  WITH CHECK ADD  CONSTRAINT [FK_lotes_version_id] FOREIGN KEY([version_id])
REFERENCES [dbo].[versiones_tedef] ([id])
GO
ALTER TABLE [dbo].[lotes] CHECK CONSTRAINT [FK_lotes_version_id]
GO
ALTER TABLE [dbo].[paquetes]  WITH CHECK ADD  CONSTRAINT [FK_paquetes_empaquetado] FOREIGN KEY([empaquetado_id])
REFERENCES [dbo].[empaquetados] ([id])
GO
ALTER TABLE [dbo].[paquetes] CHECK CONSTRAINT [FK_paquetes_empaquetado]
GO
ALTER TABLE [dbo].[paquetes]  WITH CHECK ADD  CONSTRAINT [FK_paquetes_estado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[paquetes] CHECK CONSTRAINT [FK_paquetes_estado]
GO
ALTER TABLE [dbo].[paquetes]  WITH CHECK ADD  CONSTRAINT [FK_paquetes_id_lote_susalud] FOREIGN KEY([lote_susalud_id])
REFERENCES [dbo].[susalud_lotes] ([id])
GO
ALTER TABLE [dbo].[paquetes] CHECK CONSTRAINT [FK_paquetes_id_lote_susalud]
GO
USE [master]
GO
