USE [master]
GO
/****** Object:  Database [AuthDB]    Script Date: 2/09/2025 15:49:51 ******/
CREATE DATABASE [AuthDB]
GO
USE [AuthDB]
GO
/****** Object:  User [user_tedef]    Script Date: 2/09/2025 15:49:52 ******/
CREATE USER [user_tedef] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user_tedef]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user_tedef]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user_tedef]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 2/09/2025 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_token]    Script Date: 2/09/2025 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_token](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[token] [nvarchar](512) NOT NULL,
	[expires] [datetime2](7) NOT NULL,
	[created] [datetime2](7) NOT NULL,
	[revoked] [datetime2](7) NULL,
 CONSTRAINT [PK_refresh_token] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 2/09/2025 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_permiso]    Script Date: 2/09/2025 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_permiso](
	[rol_id] [bigint] NOT NULL,
	[permiso_id] [bigint] NOT NULL,
 CONSTRAINT [PK_rol_permiso] PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC,
	[permiso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 2/09/2025 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[nombre] [nvarchar](255) NULL,
	[estado] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_rol]    Script Date: 2/09/2025 15:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_rol](
	[rol_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
 CONSTRAINT [PK_usuario_rol] PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC,
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[permiso] ON 

INSERT [dbo].[permiso] ([id], [nombre]) VALUES (1, N'dashboards.home')
INSERT [dbo].[permiso] ([id], [nombre]) VALUES (2, N'desarrollo_de_productos.planes')
INSERT [dbo].[permiso] ([id], [nombre]) VALUES (3, N'desarrollo_de_productos.productos')
SET IDENTITY_INSERT [dbo].[permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[refresh_token] ON 

INSERT [dbo].[refresh_token] ([id], [usuario_id], [token], [expires], [created], [revoked]) VALUES (1, 1, N'X3A5zb+wedFnRy4j8crbSBqk08+1K24xPFNbSMa+pUUwcW/jHNpF7Ptw/GBD4uoCzIGKWbSxOlP05ZBA9HjF9w==', CAST(N'2025-08-29T16:55:45.7383695' AS DateTime2), CAST(N'2025-08-22T16:55:45.7384132' AS DateTime2), CAST(N'2025-08-22T17:21:59.5003709' AS DateTime2))
INSERT [dbo].[refresh_token] ([id], [usuario_id], [token], [expires], [created], [revoked]) VALUES (2, 1, N'+z6XCiPDLPhDq7z0zdjqNzP+Uz5svV8Q7YH8eNtux/m9cs0p6cwAcau2aeM18SHsjUUutBlObOTAfHPIreLcvg==', CAST(N'2025-08-29T17:03:01.7433739' AS DateTime2), CAST(N'2025-08-22T17:03:01.7434157' AS DateTime2), CAST(N'2025-08-22T17:21:59.5003718' AS DateTime2))
INSERT [dbo].[refresh_token] ([id], [usuario_id], [token], [expires], [created], [revoked]) VALUES (3, 1, N'WEOkTryVomnxlAnPtk1Iq0MFAnZJakkQZkIfdMWkcZX4RQj4bQcbwYfmRdSet87Rs8WX5sxicvQb5/YjUeLfHA==', CAST(N'2025-08-29T17:03:49.8510327' AS DateTime2), CAST(N'2025-08-22T17:03:49.8510333' AS DateTime2), CAST(N'2025-08-22T17:21:59.5003719' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[refresh_token] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([id], [nombre]) VALUES (1, N'Clínica')
INSERT [dbo].[rol] ([id], [nombre]) VALUES (2, N'Médico Auditor')
INSERT [dbo].[rol] ([id], [nombre]) VALUES (3, N'Ejecutivo de Cuenta')
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
INSERT [dbo].[rol_permiso] ([rol_id], [permiso_id]) VALUES (1, 12)
INSERT [dbo].[rol_permiso] ([rol_id], [permiso_id]) VALUES (1, 13)
INSERT [dbo].[rol_permiso] ([rol_id], [permiso_id]) VALUES (1, 14)
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [usuario], [password], [nombre], [estado], [fecha_creacion]) VALUES (1, N'clinica', N'$2a$11$Et7PTL0C3UagLJzRsRPRtus8VEyw6LaQ2DOYRCleHBpC2wEHho5E.', N'REEMBOLSOS', 1, CAST(N'2025-08-21T12:53:22.140' AS DateTime))
INSERT [dbo].[usuario] ([id], [usuario], [password], [nombre], [estado], [fecha_creacion]) VALUES (2, N'20101388841', N'$2a$11$Et7PTL0C3UagLJzRsRPRtus8VEyw6LaQ2DOYRCleHBpC2wEHho5E.', N'JENFAR S A CLINICA BARTON', 1, CAST(N'2025-08-21T12:53:22.140' AS DateTime))
INSERT [dbo].[usuario] ([id], [usuario], [password], [nombre], [estado], [fecha_creacion]) VALUES (3, N'20106748161', N'$2a$11$Et7PTL0C3UagLJzRsRPRtus8VEyw6LaQ2DOYRCleHBpC2wEHho5E.', N'CLINICA LOS LIBERTADORES S.R.L.', 1, CAST(N'2025-08-21T12:53:22.140' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
INSERT [dbo].[usuario_rol] ([rol_id], [usuario_id]) VALUES (1, 1)
INSERT [dbo].[usuario_rol] ([rol_id], [usuario_id]) VALUES (1, 2)
INSERT [dbo].[usuario_rol] ([rol_id], [usuario_id]) VALUES (1, 3)
GO
ALTER TABLE [dbo].[refresh_token] ADD  CONSTRAINT [DF__refresh_t__creat__5629CD9C]  DEFAULT (sysutcdatetime()) FOR [created]
GO
ALTER TABLE [dbo].[rol_permiso]  WITH CHECK ADD  CONSTRAINT [FK_rol_permiso_permiso] FOREIGN KEY([permiso_id])
REFERENCES [dbo].[permiso] ([id])
GO
ALTER TABLE [dbo].[rol_permiso] CHECK CONSTRAINT [FK_rol_permiso_permiso]
GO
ALTER TABLE [dbo].[rol_permiso]  WITH CHECK ADD  CONSTRAINT [FK_rol_permiso_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[rol] ([id])
GO
ALTER TABLE [dbo].[rol_permiso] CHECK CONSTRAINT [FK_rol_permiso_rol]
GO
ALTER TABLE [dbo].[usuario_rol]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[rol] ([id])
GO
ALTER TABLE [dbo].[usuario_rol] CHECK CONSTRAINT [FK_usuario_rol_rol]
GO
ALTER TABLE [dbo].[usuario_rol]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[usuario_rol] CHECK CONSTRAINT [FK_usuario_rol_usuario]
GO
USE [master]
GO
